* {
  padding: 0;
  margin: 0;
  box-sizing: 0; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 10px;
  line-height: 1.9em; }

header {
  width: 100%; }

.container {
  width: 90%;
  margin: auto; }

a {
  text-decoration: none; }

li {
  list-style: none; }

video,
img {
  width: 100%; }

footer {
  background: #000000;
  color: white;
  text-align: center;
  margin-top: 5em;
  width: 100%;
  height: 100%;
  max-height: 100vh; }
  footer h2 {
    font-size: 2.3em;
    padding-top: 1em; }

.enlaces {
  margin-top: 3.5em; }
  .enlaces a {
    color: white;
    font-size: 1.6em; }
    .enlaces a:hover, .enlaces a:active {
      opacity: 0.7; }

.logo {
  width: 100%;
  height: 150px; }

.menu-list {
  font-size: 1.9em;
  display: flex;
  align-items: center; }
  .menu-list li {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: #1a8be2;
    height: 50px; }
    .menu-list li:hover, .menu-list li:active {
      opacity: 0.8;
      transition-duration: 0.4s; }
    .menu-list li a {
      color: white;
      text-transform: uppercase; }

.banner-container {
  margin-top: 3em;
  width: 100%; }

.main-section {
  margin-top: 10em;
  width: 90%;
  height: auto;
  line-height: 2em; }
  .main-section p {
    font-size: 1.7em;
    margin-left: 0.2em; }

.titulo {
  font-size: 5em;
  margin-bottom: 0.9em;
  color: #1a8be2;
  font-weight: 500; }

.columns-info {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 8em; }
  .columns-info img {
    width: 200px;
    height: 200px; }

.columns-info p {
  color: #363636;
  text-align: left;
  width: 90%;
  margin-left: 2em; }

@media screen and (max-width: 1024px) and (min-width: 723px) {
  .menu-list li {
    background: red; }
    .menu-list li:hover {
      opacity: 0.43;
      transition-duration: 0.8s; } }
@media screen and (max-width: 723px) and (min-width: 480px) {
  .menu-list li {
    background: green; }
    .menu-list li a {
      font-size: 0.9em; }

  .columns-info {
    display: grid;
    grid-template-columns: 1fr 1fr; } }
@media screen and (max-width: 480px) {
  .menu-list li a {
    font-size: 0.63em;
    font-weight: 500;
    text-align: center; }

  .columns-info {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0; }

  footer {
    height: 200px; }
    footer h2 {
      font-size: 2em; } }
.enlaces {
  display: grid;
  margin-top: 0em;
  grid-template-columns: 1fr 1fr; }
  .enlaces a {
    padding-bottom: 1em;
    padding-top: 2em;
    display: flex;
    justify-content: center; }

@media screen and (max-width: 858px) {
  .columns-info {
    display: grid;
    grid-template-columns: 1fr 1fr; } }
@media screen and (max-width: 749px) and (min-width: 723px) {
  .menu-list li a {
    font-size: 0.9em; } }
@media screen and (max-width: 677px) and (min-width: 530px) {
  .menu-list li a {
    font-size: 0.7em; } }
@media screen and (max-width: 530px) and (min-width: 480px) {
  .menu-list li a {
    font-size: 0.6em; } }

/*# sourceMappingURL=main.css.map */
